@model NBSP.Models.Job

@{
    ViewData["Title"] = "ViewJob";
    Layout = "~/Views/Shared/_LayoutMemberMenu.cshtml";
}

<div class="container">
    <div class="border-box">
        <div class="form-group">
            <label asp-for="JobName">Job Name: </label>
            @if (@Html.Display("JobName") is null)
            {
                <span>No Title</span>
            }
            else
            {
                @Html.Display("JobName")
            }

        </div>
        <div class="form-group">
            <label asp-for="Description">Description: </label>
            @Html.Display("Description")
        </div>
        <div class="form-group">
            <label asp-for="Salary">Salary: </label>
            @Html.Display("Salary")
        </div>
        <div class="form-group">
            <label asp-for="PhoneNo">Phone Number: </label>
            @Html.Display("PhoneNo")
        </div>
        <div class="form-group">
            <label asp-for="EmailAddr">Email Address: </label>
            @Html.Display("EmailAddr")
        </div>
        <div class="form-group">
            <a asp-action="JobPortal">Back to Job Portal</a>
        </div>

    </div>
</div>

