@model IEnumerable<NBSP.Models.Job>

@{
    ViewData["Title"] = "ViewJob";
    Layout = "~/Views/Shared/_LayoutAdminMenu.cshtml";
}
<head>
    <style>
        .row {
            display: flex;
        }
        .col {
            flex: 45%;
            padding: 16px;
            height: 50%;
            margin: 10px;
            background: #BEBED8;
            border: 1px solid white;
            border-radius: 20px;
        }

        .myButton {
            margin: 10px;
            border-color: white;
            width: 30%;
            background-color: #658C9D;
        }

        a:hover{
            text-decoration:none;
            color:white;
        }

    </style>
</head>

<div class="row">
    @foreach (var item in Model) {
        <div class="col">
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.JobID): 
            </span>
                @Html.DisplayFor(modelItem => item.JobID)
            <br>
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.JobName): 
            </span>
                @Html.DisplayFor(modelItem => item.JobName)
            <br>
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.Description): 
            </span>
                @Html.DisplayFor(modelItem => item.Description)
            <br>
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.Company): 
            </span>
                @Html.DisplayFor(modelItem => item.Company)
            <br>
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.Salary): 
            </span>
                @Html.DisplayFor(modelItem => item.Salary)
            <br>
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.PhoneNo): 
            </span>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            <br>
            <span style="font-weight:bold;">
                @Html.DisplayNameFor(model => model.EmailAddr): 
            </span>
                @Html.DisplayFor(modelItem => item.EmailAddr)
            <br><br>
            <a class="myButton" asp-action="DeleteJob" asp-controller="Admin"
            asp-route-id="@item.JobID" style>Delete</a>
        </div>
    }
</div>

